<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="أوس بن فواز الفوزان | لتقديم إستشارات تقنيه حول الألعاب الإلكترونية , والأمن السيبراني , والذكاء الإصطناعي
    و أي مشكلة لها علاقة بوسائل  التواصل الإجتماعي" />
    <meta name="keywords" content="أوس بن فواز الفوزان | لتقديم إستشارات تقنيه حول الألعاب الإلكترونية , والأمن السيبراني , والذكاء الإصطناعي
    و أي مشكلة لها علاقة بوسائل  التواصل الإجتماعي" />
    <link rel="icon" type="image/png" href="~/images/icons/favicon.png" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

    <ul class="mainmainmain">
        <li>
			<a href="/Home/index">الرئيسية</a>
        </li>
        <li>
            <a href="/Home/videos">اللقاءات</a>
        </li>
        <li>
            <a href="/Home/articles">المقالات</a>
        </li>
    </ul>

    @RenderBody()

    <footer>
        <header>
            <h2>الـتـواصـل</h2>
        </header>
        <div class="head">
            <div class="head-content">
                <a href="tel:+966 555 2394 28">
                    <img src="~/images/icons/call.svg" alt="icon" />   <span dir="ltr"> +966 555 239428</span>
                </a>
                <a href="mailto:awsffcs@gmail.com">
                    <img src="~/images/icons/mail.svg" alt="icon" />
                    awsffcs@gmail.com
                </a>
            </div>
        </div>
        <ul class="socail" dir="ltr">
            <li>
                <a href="https://x.com/awsffcs?s=21&t=_6Tf97_Yrwjtn-1pShDrIQ">
                    <img src="~/images/icons/x.png" alt="socail" />
                </a>
            </li>
            <li>
                <a href="https://tr.ee/z3OrJ24LXJ">
                    <img src="~/images/icons/jaco.png" alt="socail" />
                </a>
            </li>
            <li>
                <a href="@Html.Raw("https://youtube.com/@awsffcs?si=5ySO2xYh0kF7lrwi")">
                    <img src="~/images/icons/youtube.png" alt="socail" />
                </a>
            </li>
            <li>
                <a href="https://tr.ee/F58swxthQh">
                    <img src="~/images/icons/linkedin.png" alt="socail" />
                </a>
            </li>
            <li>
                <a href="https://www.snapchat.com/add/awsffcs">
                    <img src="~/images/icons/snapchat.png" alt="socail" />
                </a>
            </li>
            <li>
                <a href="@Html.Raw("https://www.tiktok.com/@awsffcs")">
                    <img src="~/images/icons/tiktok.png" alt="socail" />
                </a>
            </li>
            <li>
                <a href="https://wa.me/966555239428">
                    <img src="~/images/icons/whatsapp.png" alt="socail" />
                </a>
            </li>
        </ul>
        <header><h2>مـتـابـعـتـكـم لـحـسـابـاتـي تـزيـدنـي شـرفـاً وتـألُـقـاَ</h2></header>
    </footer>
</body>
</html>
