@model IEnumerable<Aws_F_F.Models.Article>

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["Title"] = "المقالات";
}
<html>
    <head>
    <link rel="stylesheet" href="~/css/articles.css" />
</head>

<div class="container">
    <section class="articals">
        <header>
            <h2>المقالات</h2>
        </header>
        <div class="content">
            @foreach (var item in Model)
            {
                <a asp-action="ArticleDetails" asp-route-id="@item.Id" class="card">

                    @if (!string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="@item.ImagePath" class="card-img-top mb-3" alt="صورة المقال" style=" object-fit: cover;" />
                    }

                    <div class="text">
                        <h5>@item.Title</h5>
                        <p>@item.PublishDate.ToString("yyyy-MM-dd")</p>
                    </div>

                </a>

            }
        </div>
    </section>
</div>

</html>