@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["Title"] = "أوس بن فواز الفوزان | مختص بالأمن السيبراني والذكاء الأصطناعي";
}

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="أوس بن فواز الفوزان | لتقديم إستشارات تقنيه حول الألعاب الإلكترونية , والأمن السيبراني , والذكاء الإصطناعي
    و أي مشكلة لها علاقة بوسائل  التواصل الإجتماعي" />
    <meta name="keywords" content="أوس بن فواز الفوزان | لتقديم إستشارات تقنيه حول الألعاب الإلكترونية , والأمن السيبراني , والذكاء الإصطناعي
    و أي مشكلة لها علاقة بوسائل  التواصل الإجتماعي"
    <!-- styles -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- styles -->
    <title>
        أوس بن فواز الفوزان | مختص بالأمن السيبراني والذكاء الأصطناعي
    </title>
</head>
<body>
    <div class="hero">
        <!-- container -->
        <div class="container">
            <div class="content">
                <div class="text">
                    <h1>أوس بن فواز الفوزان</h1>
                    <p class="main">
                        طالب بالمرحلة الثانوية - أصغر خبير تقني بالمملكه العربية السعودية
                        <br />
                        مختص بالأمن السيبراني والذكاء الأصطناعي ( مُدرب مُعتمد )
                    </p>
                    <p class="second">
                        "طموحي لاسقف له ...
                        <br />
                        طموحي ابتكار برنامج حماية لكل مايحفظ خصوصيتنا وعدم المساس لوطني "
                    </p>
                </div>
                <div class="image">
                    <img src="~/images/imgg.jpeg" alt="MainImage" />
                </div>
            </div>
        </div>
        <!-- container -->
    </div>
    <!-- Hero Section -->
    <!-- container -->
    <div class="container">
        <section class="section1">
            <div class="card">
                <img src="~/images/icons/certificate.svg" alt="certificate" />
                <p>
                    الــــتـــــوعـــــيـــــة فــــي <br />
                    الأمـــــن الــســـيـبرانــي
                </p>
            </div>
            <div class="card">
                <img src="./images/icons/certificate.svg" alt="certificate" />
                <p>
                    مفـــاهيـــــم الــــذكــــاء<br />
                    الاصطناعي وتطبيقاته <br />
                    الـمـــــتـــــــــــقــــــــدمـــة
                </p>
            </div>
            <div class="card">
                <img src="~/images/icons/certificate.svg" alt="certificate" />
                <p>
                    برمجة الويب باستخدام<br />
                    بـــــايــــثــــون وجـــــافـــــــا
                </p>
            </div>
        </section>
        <!-- section 1 -->
    </div>
    <!-- container -->
    <!-- tip -->
    <div class="tip">
        <div class="content">
            <p>
                طـالـب فـالـصـف الـثـانـي الـثـانـوي بـمعـدل 99٪, مـهـارات مـتـمـيـزة
                فـي الأمـن الـسـيـبـرانـي والـذكـاء الاصـطـنـاعـي ,<br />
                شهادات من Cisco - Harvard - سدايا ومشارك في مبادرات علمية وتقنية
                متعددة-
            </p>
        </div>
    </div>
    <!-- tip -->

    <div class="container">
        <section class="section2">
            <header>
                <h2>الإنـجـازات والـمـسـاهـمـات</h2>
            </header>
            <div class="content">
                <div class="card">
                    <h4>3</h4>
                    <img src="~/images/icons/Group 21.svg" alt="lines" />
                    <p>
                        مـــــؤتـــــمـــــرات دولـــــيــــــه
                        <br />وحــــــــــصـــــولـــــه عـــــلـــــى
                        <br />الـــعـــضـــويـــة الــذهــــبــيــة
                    </p>
                </div>
                <div class="card">
                    <h4>35</h4>
                    <img src="~/images/icons/Group 21.svg" alt="lines" />
                    <p>
                        مـــــــــــــــن الــــــــــــدورات <br />
                        وورش الـــــــــــــــعــــمــــل
                    </p>
                </div>
                <div class="card">
                    <h4>160</h4>
                    <img src="~/images/icons/Group 21.svg" alt="lines" />
                    <p>
                        ومنها شـــهـــادات مــعــتــمــدة <br />
                        مـــن الـــســـعـــوديـــة ومــــــصر <br />
                        والإمـارات والمملكه المتحدة
                    </p>
                </div>
                <div class="card">
                    <h4>1</h4>
                    <img src="~/images/icons/Group 21.svg" alt="lines" />
                    <p>
                        تــألــيــف مــنــهــــج للــذكـــاء <br />الإصـطـناعي لذوي
                        الإعاقة
                    </p>
                </div>
                <div class="card">
                    <h4>1</h4>
                    <img src="~/images/icons/Group 21.svg" alt="lines" />
                    <p>بــــــــــراءة إخـــــــــتــــــــــراع</p>
                </div>
                <div class="card">
                    <h4>8</h4>
                    <img src="~/images/icons/Group 21.svg" alt="lines" />
                    <p>
                        لــــــقــــــاء تــــلــــيـــفــزيـــونـــي
                        <br />وإذاعــــــــــــــــــــــــــــــــــــــــــــــــــي
                    </p>
                </div>
            </div>
        </section>
        <!-- section two -->

        <section class="section3">
            <header>
                <h2>الإستــــشــارات</h2>
            </header>
            <p>
                يـسعـدنـي تـواصـلـكم لـبـحث احـتـيـاجـاتـكـم الـتـقـنـيـة بـشـكل
                دقـيـق، وذلك فـي مـجـالات: الأمـن الـسـيـبـرانـي، الـذكـاء
                الاصـطـنـاعـي، الاسـتـشـارات الـتـقـنـيـة، حـمـايـة وتـأمـيـن
                حـسـابـات الـتـواصـل الاجـتـمـاعـي، الـتـعـامـل مـع مـحـاولات
                الاخـتـراق، إضـافـةً إلـى اسـتـشـارات الألـعـاب الإلـكـتـرونـيـة
                وتـطـويـر بـيـئـاتــهـا الآمـنـة. ألـتـزم بـتـقديـم حـلـول مـتـقـدمـة
                تـضـمـن أعـلى معـاييـر الأمـان والامتـثـال، مـع مـواءمتـها لـمتطلـبات
                أعـمالكـم وخصـوصـية بيـاناتـكم .
            </p>
        </section>
        <!-- section3 -->

        <section class="section4">
            <header>
                <h2>الإهتمامات والدورات التطوعية</h2>
            </header>
            <p>
                مهتم بالدورات التطوعية المخصصة لذوي الاحتياجات الخاصة، إيمانًا بأن لهم
                الحق الكامل في أن يكونوا مشاركين فاعلين في المجتمع، وخاصة في مجالات
                التقنية الحديثة مثل الأمن السيبراني والذكاء الاصطناعي .
            </p>
            <p>
                أسعى للمساهمة في تمكينهم معرفيًا وتقنيًا من خلال مبادرات تطوعية تهدف
                إلي :
            </p>
            <ul>
                <li>
                    <p>
                        - توعية ذوي الإعاقة الرقمية بمخاطر الأمن السيبراني وطرق الحماية .
                    </p>
                </li>
                <li>
                    <p>
                        - تبسيط مفاهيم الذكاء الاصطناعي لتكون مفهومة وقابلة للتطبيق لذوي
                        الاحتياجات الخاصة .
                    </p>
                </li>
                <li>
                    <p>- دعم إدماجهم في بيئات التعلم الإلكتروني الآمن .</p>
                </li>
            </ul>
            <p>
                إيماني العميق بأن التقنية يجب أن تكون شاملة وعادلة، يدفعني دومًا
                للمبادرة، والتأثير، وصناعة فرق حقيقي في حياة الآخرين ...
            </p>
        </section>
        <!-- section3 -->
    </div>

    
</body>
</html>
